.menuBtn {
  color: var(--text-color);
  padding: 0.3em 2em;
  font-size: clamp(0.86rem, 3.5vmin, 1rem);
  background-color: var(--menu-container);
  box-shadow: var(--menu-shadow);
  transition: 0.2s;

  &:hover,
  &:focus-visible {
    box-shadow: var(--selected-shadow);
    text-decoration: none;
  }
}
