@use '@tsukiweb/common/styles/partials/_components.scss';

%layer-choices {
	z-index: 3;
	background-image: var(--text-bg);
	display: flex;
	overflow-y: auto;

	.choices-container {
		flex: 1;
		display: flex;
		flex-direction: column;
		max-width: 720px;
		margin: auto;
		gap: 1em;
		padding: 8px;
	}
	.choice {
		@extend %info-box;
		padding: .4em 1.2em;
		font-size: clamp(1em, 4.2vmin, 1.36em);
		backdrop-filter: none;

		&:disabled {
			text-decoration-line: line-through;
			filter: grayscale(1);
		}

		&:hover, &:focus-visible, .keyboard-navigating &:focus {
			box-shadow: var(--selected-shadow);
		}
	}

	@media screen and (orientation: portrait) and (max-width: 720px){
		--text-bg: var(--text-bg-portrait);
	}
}