# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
release
*.local

# Editor directories and files
.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

public/.htaccess
public/static/*/*/
!public/static/**/*.json
public/static/jp/fullscript_jp.txt
public/static/jp/*.ks
public/se

tools/convert-scripts/input
tools/convert-scripts/output
tools/transform-sprites/input
tools/transform-sprites/output
tools/convert-images/input
tools/convert-images/input_x2
tools/convert-images/output
tools/extract-sar/arc.sar
tools/extract-sar/output