# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
release
*.local

# Editor directories and files
.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

public/.htaccess
public/static/*/*/
!public/static/**/*.json
public/static/jp/fullscript_jp.txt
public/static/jp/*.ks
public/res/flowchart-spritesheets
logic_tree.txt

tools/helpers/transform-sprites/tachi
tools/helpers/convert-images/input
tools/helpers/convert-images/input_x2
tools/helpers/extract-sar/arc.sar
tools/helpers/extract-sar/wave
tools/helpers/extract-sar/image
tools/helpers/extract-dat/nscript.dat
tools/helpers/extract-xp3/data.xp3
tools/_workspace
tools/arc.sar
tools/data.xp3
tools/CD_*/
