# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
release
*.local

# Editor directories and files
.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

public/.htaccess
public/static/*/*/
!public/static/**/*.json
public/static/jp/fullscript_jp.txt
public/static/jp/*.ks

tools/generate-thumbnails/output
tools/script-convert/*
tools/sprites-transparency/*
!tools/**/*.js