%menu-container {
    background-color: var(--menu-container);
    box-shadow: var(--menu-shadow);
    position: relative;
    padding: 1rem;
    
    @media all and (hover: hover) and (pointer: fine) {
        scrollbar-gutter: stable;
        padding-right: calc(1rem - var(--scrollbar-width));
    }
}
%info-box {
    color: #ffffffe8;
    background-color: #010e2470;
    border: 1px solid #00628b;
    backdrop-filter: blur(1em);
    -webkit-backdrop-filter: blur(1em);

    @supports not (backdrop-filter: blur(1em)) {
        background-color: #000000d1;
    }
}