:root {
	--toastify-color-progress-dark: #0a2f85;
	--toastify-font-family: var(--ui-font);
	--toastify-color-dark: #01060e;
	--toastify-color-progress-dark: #0087ff;
}

.page {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
}
.page-content {
	--page-padding: clamp(.8rem, 1.6vmin, 1rem);
	max-width: var(--page-width);
	margin-inline: auto;
	padding: var(--page-padding);
	height: inherit;
	width: inherit;
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	align-self: center;
}
.page-title {
	font-size: clamp(2.2rem, 8vmin, 3rem);
	letter-spacing: -1px;
	line-height: 1.2em;
	margin-block: 0;
	font-family: "Times New Roman", "Times-Roman", serif;
	font-weight: 700;
	background: linear-gradient(180deg, #99bccf 0%, #71c1dc 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-block: 0.2em;
	grid-area: page-title;
}
main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: 0;
}

.back-button {
	margin-top: clamp(.8rem, 4vmin, 1rem);
	width: fit-content;
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
}

/* Overlay */
.modal {
	.close-btn {
		display: flex;
		margin-inline: auto;
		margin-top: 1em;
		font-size: inherit;
	}
}
.ReactModal__Overlay {
	opacity: 0;
	transition: opacity 200ms ease-in-out;
}
.ReactModal__Overlay--after-open {
	opacity: 1;
}
.ReactModal__Overlay--before-close {
	opacity: 0;
}

.tooltip {
	--rt-color-dark: #000;
	--rt-opacity: 1;
}

.Toastify__progress-bar--wrp {
	height: 3px;
}