@use 'partials/_components';

#config-layout {
	.back-button {
		margin: .5rem;
		padding: .5rem;
		padding-bottom: calc(.5rem + var(--safe-area-max-inset-bottom));
	}

	@media screen and (orientation: landscape) and (max-height: 680px) {
		--page-padding: 0;
		.page-title {
			padding: .8rem;
		}
		.page-section {
			border: 0;
			padding-inline: 1rem;
		}
	}

	.tabs {
		padding-inline: var(--page-padding);
	}
	
	.sub {
		margin-block: .6rem;
		background-color: hsl(0deg 0% 0% / 50%);
		border: 1px solid var(--btn-select-bg);
		padding: 1rem;
		margin-inline: calc(var(--page-padding) * -1);
		border-radius: 6px;
		corner-shape: bevel;

		& > .title {
			font-weight: 600;
			background: linear-gradient(180deg, #00a5ff 0%, #0080ab 100%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		.config {
			border-bottom: 0 !important;

			&:not(:last-of-type) {
				border-bottom: 1px solid var(--separator) !important;
			}
		}
	}

	.icon-help {
		background-color: rgb(255 255 255 / 15%);
		border-radius: 50%;
		padding: 4px;
		display: inline-flex;
		align-items: center;
		width: 24px;
		height: 24px;
		justify-content: center;
		font-size: .8em;
		margin-left: 6px;
		transition: .1s ease-in-out;

		&:hover, &:focus-visible {
			box-shadow: var(--selected-shadow);
			cursor: pointer;
		}
	}

	.config, .key-map {
		display: grid;
		grid-template-columns: minmax(240px, 1fr) 2fr;
		gap: .4rem;
		padding: .8rem;
		min-height: 60px;
		border-bottom: 1px solid var(--separator);

		&:last-of-type {
			border-bottom: 0;
		}
	}
	.config {
		align-items: center;

		.config-actions {
			display: flex;
			flex-wrap: wrap;
			gap: 1em;
		}

		.config-btns {
			flex: 1;
			display: flex;
			gap: 6px;
			flex-wrap: wrap;

			.config-btn {
				min-width: 110px;

				&:has(> svg) {
					padding-left: .6em;
				}
			}
		}

		.config-range {
			flex: 1;
			display: flex;
			gap: .4em;
			align-items: center;
			min-height: 36px; // buttons height

			input[type="range"] {
				appearance: none;
				width: min(340px, 100%);
				height: 2px;
				background: var(--menu-button-bg);
				cursor: pointer;
				border: 0;
				border-radius: 8px;

				&:hover {
					background: var(--btn-select-accent);
				}
	
				&::-webkit-slider-thumb {
					appearance: none;
					width: 20px;
					height: 20px;
					border-radius: 50%; 
					background: var(--btn-select-accent);
					border: 0;

					&:hover {
						background: var(--btn-select-accent);
					}
				}
	
				&::-moz-range-thumb {
					width: 20px;
					height: 20px;
					border-radius: 50%;
					background: var(--btn-select-accent);
					border: 0;

					&:hover {
						background: var(--btn-select-accent);
					}
				}
			}
			.icon {
				display: flex;
				font-size: 1.2em;
				&.btn {
					transition: .1s ease-in-out;
					border-radius: 3px;
					padding: 0.2em;

					.off {
						color: var(--off-color);
					}

					&:hover, &:focus-visible {
						box-shadow: var(--selected-shadow);
					}
				}
			}
		}

		.erase {
			color: var(--off-color);
			&:hover, &:focus-visible {
				box-shadow: 0 0 0 1px rgb(255 0 0) inset, 0 0 90px 0 rgb(255 0 0 / 0.3) inset;
			}
		}
	}

	.key-map {
		.config-actions {
			display: flex;
			flex-direction: column;
			gap: 4px;
		}
		.key-item {
			color: var(--color-link);
			font-weight: 600;
			.info {
				color: var(--text-muted);
			}
		}
	}

	.config-reset {
		margin-top: 1em;
		display: flex;
		justify-content: flex-end;

		.btn {
			min-width: 110px;
		}
	}

	@media (max-width: 760px) {
		section {
			padding-inline: 0;
		}
		.sub {
			padding-inline: 0;
			margin-inline: 0;
			.title {
				padding-inline: 1rem;
			}
		}
		.config, .key-map {
			padding: 1.2rem;
			grid-template-columns: 1fr;
			min-height: auto;

			.config-actions {
				margin-inline: 1rem;
			}
		}
		.config {
			.config-btns {
				flex-direction: column;
			}
			.config-range {
				justify-content: center;
			}
		}
		.config-reset {
			justify-content: center;
			margin-bottom: 2em;
		}
	}
}

.config-modal {
	.modal-content {
		flex: auto;

		h2 {
			margin-top: 0;
			font-size: 1.4em;
		}
	}

	b {
		font-weight: 600;
	}

	.comparison {
		margin-top: 2em;
		display: flex;
		justify-content: space-evenly;
		gap: 8px;

		.comparison-container {
			display: flex;
			width: min(260px, 100%);
			place-self: center;
			overflow: hidden;
			border-radius: 2px;
		}
		
		img {
			width: 100%;
			object-fit: contain;
		}

		.blurred {
			filter: blur(1em);
		}
	}
}