@use 'partials/_components';

#config-layout {
	font-size: 1.1rem;

	.back-button {
		margin: .5rem;
		padding: .5rem;
		padding-bottom: calc(.5rem + var(--safe-area-max-inset-bottom));
	}

	@media screen and (orientation: landscape) and (max-height: 680px) {
		--page-padding: 0;
		.page-title {
			padding: .8rem;
		}
		.page-section {
			border: 0;
		}
	}

	.tabs {
		padding-inline: var(--page-padding);
	}
	
	.sub {
		margin-block: .6em;
		background-color: hsl(290deg 90% 33% / 50%);
		border: 1px solid #9700ff;
		padding: 1em;
		border-radius: 3px;

		.title {
			font-weight: 600;
		}

		.config {
			border-bottom: 0 !important;

			&:not(:last-of-type) {
				border-bottom: 1px solid var(--separator) !important;
			}
		}
	}

	.icon-help {
		background-color: rgb(255 255 255 / 15%);
		border-radius: 50%;
		padding: 4px;
		display: inline-flex;
		align-items: center;
		width: 20px;
		height: 20px;
		justify-content: center;
		font-size: .8em;
		margin-left: 6px;
		transition: .1s ease-in-out;

		&:hover {
			box-shadow: var(--selected-shadow);
			cursor: pointer;
		}
	}

	.config {
		display: grid;
		grid-template-columns: minmax(240px, 1fr) 2fr;
		align-items: center;
		padding-block: .6em;
		min-height: 60px;
		
		// and next sibling is not .sub
		&:not(:nth-last-child(2), :has(+ .sub)) {
			border-bottom: 1px solid var(--separator);
		}

		.config-name {
			margin-right: 8px;
		}
		.config-actions {
			display: flex;
			flex-wrap: wrap;
			gap: 1em;
		}

		.config-btns {
			flex: 1;
			display: flex;
			gap: 6px;
			flex-wrap: wrap;

			.config-btn {
				min-width: min(100px, 100%);
			}
		}

		.config-range {
			flex: 1;
			display: flex;
			gap: .6em;
			align-items: center;
			min-height: 36.45px; // height of buttons

			input[type="range"] {
				appearance: none;
				width: min(320px, 100%);
				height: 1px;
				background: var(--active);
				cursor: pointer;
				border: 0;
				border-radius: 8px;

				&:hover {
					background: var(--active-hover);
				}
	
				&::-webkit-slider-thumb {
					appearance: none;
					width: 20px;
					height: 20px;
					border-radius: 50%; 
					background: var(--active);

					&:hover {
						background: var(--active-hover);
					}
				}
	
				&::-moz-range-thumb {
					width: 20px;
					height: 20px;
					border-radius: 50%;
					background: var(--active);
					border: 0;

					&:hover {
						background: var(--active-hover);
					}
				}
			}
			.icon {
				display: flex;
				font-size: 1.2em;
			}
			.mute {
				display: flex;
				transition: .1s ease-in-out;
				border-radius: 4px;
				padding: 0.2em;
				color: var(--color-link);

				&:hover, &:focus-visible {
					box-shadow: var(--selected-shadow);
				}

				.off {
					filter: grayscale(1);
				}
			}
		}

		.erase {
			color: #ff1e1e;
			&:hover, &:focus-visible {
				box-shadow: 0px 0px 0px 1px rgb(255, 0, 0) inset, 0px 0px 90px 0px rgba(255, 0, 0, 0.3) inset;
			}
		}
	}

	.keyMap {
		display: grid;
		grid-template-columns: 1fr 2fr;
		align-items: center;
		padding-block: .8em;

		&:not(:last-of-type) {
			border-bottom: 1px solid var(--separator) !important;
		}

		.action {
			grid-column: 1;
		}
		.keyItem {
			grid-column: 2;
			margin-block: 4px;
			.info {
				opacity: 0.3;
			}
		}
	}

	.reset {
		margin-top: 1em;
		display: flex;
		justify-content: flex-end;

		.btn {
			min-width: 80px;
		}
	}

	@media (max-width: 768px) {
		section {
			padding-inline: 0;
		}
		.sub {
			padding-inline: 0;
			.title {
				padding-inline: 1em;
			}
		}
		.config {
			grid-template-columns: 1fr;
			row-gap: 0.4em;
			padding-block: 1em;
			padding-inline: 1em;
			min-height: auto;

			.config-name {
				margin-bottom: .2em;
			}
			.config-actions {
				flex-direction: column;
				flex-wrap: nowrap;
			}
		}

		.keyMap {
			grid-template-columns: 1fr;
			row-gap: 0.4em;
			padding-block: 1em;
			padding-inline: 1em;

			.action {
				margin-bottom: .2em;
				text-decoration: underline;
				text-underline-offset: 6px;
				text-decoration-thickness: 1px;
			}
			.keyItem {
				grid-column: 1;
			}
		}
	}
}

.config-modal {
	.modal-content {
		flex: auto;

		h2 {
			margin-top: 0;
			font-size: 1.4em;
		}
	}

	b {
		font-weight: 600;
	}

	.comparison {
		margin-top: 2em;
		display: flex;
		justify-content: space-evenly;
		gap: 8px;

		.comparison-container {
			display: flex;
			width: min(260px, 100%);
			place-self: center;
			overflow: hidden;
			border-radius: 2px;
		}
		
		img {
			width: 100%;
			object-fit: contain;
		}

		.blurred {
			filter: blur(1em);
		}
	}
}