@use 'partials/_components';

#endings {
    main {
        display: grid;
        grid-template-columns: 1fr 160px;
        gap: 8px;
    }

    .endings-list {
        @extend %menu-container;
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        isolation: isolate;
        min-width: 0;
        gap: 20px;
        place-content: start;
        overflow-y: auto;

        .ending {
            display: flex;
            flex-direction: row;
            font-size: clamp(1.1em, 7vmin, 1.2em);
            border-radius: 2px;
            position: relative;
            height: 120px;
            background: linear-gradient(45deg, black, #444444);

            &::before{
                content: '';
                position: absolute;
                inset: -3px;
                background-size: 300%;
                z-index: -1;
                animation: glower 20s ease-out infinite;
            }

            @keyframes glower {
                0% {
                  background-position: 0 0;
                }
                
                50% {
                  background-position: 100% 100%;
                }
                
                100% {
                  background-position: 0 0;
                }
            }

            @mixin customCard($mainColor, $secondaryColor, $boxShadowColor) {
                
                &::before {
                  background-image: linear-gradient(45deg, $mainColor, $secondaryColor, $mainColor, $secondaryColor);
                }
              
                box-shadow: 0 2px 8px 0 $boxShadowColor;
                background-image: linear-gradient(45deg, rgb(39 0 18 / 80%) 0%, $mainColor 100%);
                transition: all .2s ease-in-out;

                &:hover {
                    box-shadow: 0 2px 18px 2px $boxShadowColor;
                }
            }
    
            &.aki { @include customCard(#212121, #ffddc7, #583117) }
            &.ark { @include customCard(#646400, #fcfbbe, #e7e300) }
            &.cel { @include customCard(#003464, #c7faff, #00bfff) }
            &.his { @include customCard(#640022, #ffc7c7, #ff0000) }
            &.koha { @include customCard(#640064, #ffc7ff, #ff00ff) }
            &.others {
                &::before {
                    background-image: linear-gradient(45deg, #583117, #e7e300, #00bfff, #ff0000, #ff00ff);
                }
                box-shadow: 0 2px 8px 0 #c46f6f;
                background-image: linear-gradient(45deg, rgb(108 108 108 / 50%) 0%, #928784 100%);

                transition: all .2s ease-in-out;

                &:hover {
                    box-shadow: 0 2px 18px 2px #c46f6f;
                }
            }
    
            .ending-img {
                height: 100%;
                aspect-ratio: 4/3;
                background-color: #1a353f59;
            }
            .ending-name {
                margin: 16px;
                font-size: 1.1em;
            }
            .ending-bottom {
                position: absolute;
                right: 8px;
                bottom: 8px;
                display: flex;
                gap: 8px;
                font-size: .9em;
            }
        }
    }

    .badendings-list {
        @extend %menu-container;
        gap: 1em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(32px, 1fr));
        flex-grow: 1;
        place-content: flex-start;
        overflow-y: auto;
        min-height: 30vh;

        h3 {
            all: unset;
            font-size: clamp(1.1em, 7vmin, 1.2em);
            width: 100%;
            margin-bottom: .4em;
            grid-column: 1/-1;
        }

        .badending {
            width: 32px;
            height: 32px;
            filter: grayscale(1);
            opacity: .5;

            img {
                width: 100%;
                height: 100%;
            }

            &.seen {
                filter: grayscale(0);
                opacity: 1;
            }
        }

        #osiete {
            z-index: 1;
        }
    }

    @media (max-width: 900px) {
        .endings-list {
            grid-template-columns: 1fr;

            .ending {
                height: 100px;
            }
        }
    }

    @media (max-width: 600px) {
        main {
            display: flex;
        }
    }
}