#endings {
	main {
		display: grid;
		grid-template-columns: 1fr 240px;
		gap: 1rem;
	}

	.endings-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(min(180px, 100%), 1fr));
		isolation: isolate;
		min-width: 0;
		gap: 1em;
		place-content: start;

		.ending {
			display: flex;
			flex-direction: column;
			position: relative;
			font-size: 1.1em;

			@mixin shadow($color) {
				$color-title: darken($color, 20%);
				.ending-name {
					background: linear-gradient(to right, $color-title, lighten($color, 20%), $color-title);
					-webkit-background-clip: text;
					background-clip: text;
					color: transparent;

					&::after {
						content: '';
						position: absolute;
						bottom: -5px;
						left: 0;
						width: 100%;
						height: 1px;
						background-color: $color;
						mask-image: linear-gradient(to right, transparent, black 50%, transparent);
					}
				}
			}

			&.unlocked {
				&.ark { @include shadow(#e7e300) }
				&.cel { @include shadow(#00bfff) }
				&.aki { @include shadow(#915934) }
				&.his { @include shadow(#ff0000) }
				&.koha { @include shadow(#ff00ff) }
				&.eclipse { @include shadow(#970e0e) }
			}
	
			.ending-img {
				width: 100%;
				aspect-ratio: 4/3;
				background-color: #1a353f59;

				&.placeholder {
					border: 1px solid #004f87;
    			background-color: rgba(0, 0, 0, 0.4);
				}
			}
			.ending-desc {
				margin: 1em;
				text-align: center;
				line-height: 1.1;
				
				.ending-name {
					font-size: 1.1em;
					font-weight: 600;
					text-wrap: pretty;
					position: relative;
				}
				.ending-bottom {
					margin-top: 8px;
					font-size: .9em;
					opacity: 0.8;
				}
			}
		}
	}

	.badendings-list {
		gap: 1em;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(32px, 1fr));
		place-content: flex-start;
		overflow-y: auto;
		min-height: 30vh;
		justify-items: center;

		h3 {
			all: unset;
			font-size: clamp(1.1em, 7vmin, 1.2em);
			width: 100%;
			margin-bottom: .4em;
			grid-column: 1/-1;
		}

		.badending {
			width: 32px;
			height: 32px;
			filter: grayscale(1);
			opacity: .5;

			img {
				width: 100%;
				height: 100%;
			}

			&.seen {
				filter: grayscale(0);
				opacity: 1;
				cursor: pointer;
				-webkit-tap-highlight-color: transparent;
			}
		}

		#osiete {
			z-index: 1;
		}
	}

	@media (max-width: 900px) {
		.endings-list {
			grid-template-columns: repeat(auto-fill, minmax(min(120px, 100%), 1fr));
		}
	}

	@media (max-width: 600px) {
		main {
			display: flex;
		}
	}
}