#extra {
	display: grid;
	grid-template-columns: minmax(220px, min-content) 1fr;
	grid-template-areas: "extra-menu extra-content";
	padding: 0;
	column-gap: 1em;

	.page-title {
		padding-inline: 0;
	}

	.extra-menu {
		grid-area: extra-menu;
		display: flex;
		padding: var(--page-padding);
		padding-right: 0;
		flex-direction: column;

		@media (pointer: coarse) {
			&::-webkit-scrollbar {
				display: none;
			}
		}

		.menus {
			flex: 1;
			margin-top: 1.8em;
			display: flex;
			flex-direction: column;
			gap: 1.8em;

			.menu-item {
				text-align: start;
				font-size: 1.6em;
				font-weight: 500;
				letter-spacing: 1px;
				width: fit-content;
			}
		}
		.back-button {
			margin-block: .5em;
			padding: .5rem;
			padding-left: 0;
		}
	}

	.extra-content {
		grid-area: extra-content;
		overflow: hidden;
	}

	@media screen and (orientation: portrait) and (max-width: 979px) {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr min-content;
		grid-template-areas:
			"extra-content"
			"extra-menu";

		.extra-menu {
			align-items: flex-start;
			padding: 0;
			padding-bottom: var(--safe-area-max-inset-bottom);
			background-image: linear-gradient(180deg, #001325, rgb(0 67 138));
			border-top: 1px solid var(--separator);
			min-width: 0;

			.page-title {
				display: none;
			}
			.menus {
				overflow-x: auto;
				width: 100%;
				min-width: 0;
				margin: 0;
				padding-block: 1em;
				padding-inline: 2rem;
				font-size: 0.8em;
				gap: 1.8em;
				mask-image: linear-gradient(to right, black 95%, transparent 100%);
				flex-direction: row;

				@media (pointer: coarse) {
					&::-webkit-scrollbar {
						display: none;
					}
				}
	
				.menu-item {
					white-space: nowrap;
				}
			}
			.back-button {
				padding-left: 2rem;
			}
		}
	}

	@media screen and (orientation: landscape) and (max-height: 600px) {
		grid-template-columns: minmax(160px, min-content) 1fr;
		.extra-menu {
			font-size: .8em;
			overflow-y: auto;
			padding-right: 0;
		}
	}
}