#extra {
	display: grid;
	grid-template-columns: minmax(220px, min-content) 1fr;
	grid-template-areas: "extra-menu extra-content";
	padding: 0;
	column-gap: 1em;

	.page-title {
		padding-inline: 0;
	}

	.extra-menu {
		grid-area: extra-menu;
		display: flex;
		padding: var(--page-padding);
		padding-right: 0;
		flex-direction: column;

		@media (pointer: coarse) {
			&::-webkit-scrollbar {
				display: none;
			}
		}

		.menus {
			flex: 1;
			margin-top: 1.8em;
			display: flex;
			flex-direction: column;
			gap: 1.8em;

			.menu-item:not(.back-button) {
				text-align: start;
				font-size: 1.6em;
				font-weight: 500;
				letter-spacing: 1px;
				width: fit-content;
			}
			.back-button {
				margin-top: auto;
				margin-bottom: .5em;
				padding: .5rem;
				padding-left: 0;
			}
		}
	}

	.extra-content {
		grid-area: extra-content;
		overflow: hidden;
	}

	@media screen and (max-width: 979px) {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr min-content;
		grid-template-areas:
			"extra-content"
			"extra-menu";

		.extra-menu {
			padding: 0;
			overflow-x: auto;
			box-shadow: var(--menu-shadow);

			.page-title {
				display: none;
			}
			.menus {
				padding: 1em 2em;
				padding-bottom: 3em;
				font-size: 0.8em;
				margin-top: .5em;
				display: grid;
				grid-auto-flow: column;
				gap: 1.6em;
				min-width: 100%;
	
				.menu-item {
					white-space: nowrap;
				}
	
				.back-button {
					grid-column: 1 / -1;
					margin-bottom: 0;
				}
			}
		}
	}

	@media screen and (max-height: 600px) and (min-width: 980px) {
		grid-template-columns: minmax(160px, min-content) 1fr;
		.extra-menu {
			font-size: .8em;
			overflow-y: auto;
			padding-right: 0;
		}
	}
}