#flowchart {
	--active-connection: #0d96e0;
	--inactive-connection: #444;

	.flowchart-container {
		isolation: isolate;
		padding-top: 4em;
		padding-bottom: max(60px, 10vh);
		padding-inline: calc(var(--page-padding) / 2);
		align-items: start;
		overflow: auto;
		flex-direction: column;
	}
	.flowchart {
		overflow: visible;
		direction: ltr;
		transform: translateZ(0);
		shape-rendering: optimizeSpeed;
		vector-effect: non-scaling-stroke;
	}
	.fc-scene {
		stroke: var(--active-connection);
		stroke-width: 0.6;
		stroke-linejoin: round;
		fill: none;
		&.disabled {
			filter: brightness(0.5) grayscale(1);
			pointer-events: none;
		}
		&.blur {
			filter: blur(3px);
			transition: filter .2s linear;
			transition-delay: .5s;

			&:hover, &:focus-visible {
				filter: blur(0);
			}
		}
		&.unlocked {
			outline: none;
			cursor: pointer;
			rect {
				transition: filter .1s linear;
			}
			&:hover, &:focus-visible, &:focus {
				rect {
					filter:
						drop-shadow(0 0 1px var(--active-connection))
						drop-shadow(0 0 1px var(--active-connection))
						drop-shadow(0 0 1px var(--active-connection))
						drop-shadow(0 0 2px var(--active-connection));
				}
			}
		}
	}
	.fc-link {
		fill: none;
		fill-opacity: 0.246809;
		fill-rule: evenodd;
		stroke: var(--active-connection);
		stroke-width: 0.8px;
		stroke-linejoin: round;
		stroke-opacity: 1;
		paint-order: fill markers stroke;
		stop-color: #000000;

		&.disabled {
			stroke: var(--inactive-connection);
			stroke-width: 0.6px;
		}
	}
}

#fc-scene-hidden rect:last-of-type {
	stroke-width: 0.6;
	stroke-linejoin: round;
	fill: none;
}

#fc-scene-hidden rect:last-of-type {
	stroke: rgb(115 115 115);
}

.fc-scene-box {
  fill: rgb(1, 43, 82);
  stroke: var(--active-connection);
  stroke-width: 0.6;
  paint-order: stroke;
}

.scene-popover-container {
	width: min(320px, 100%);
	z-index: 100;
	pointer-events: none;
}
.scene-popover {
	width: 100%;
	border-radius: 4px;
	background-color: #000;
	box-shadow: 0 1px 4px #000;
	overflow: hidden;

	.scene-popover-content {
		position: relative;
		width: 100%;
		height: 240px;
		.header {
			height: 100%;
			width: 100%;
			background-color: #000;
		}
		.title {
			position: absolute;
			z-index: 1;
			bottom: 0;
			left: 0;
			padding: 0.3em 1em;
			background-image: linear-gradient(90deg, var(--surface-dark) 70%, transparent);
			min-width: 80px;
			-webkit-text-stroke: 0.01em black;
		}
		.id {
			font-weight: bold;
			position: absolute;
			z-index: 1;
			top: 0;
			right: 0;
			padding: 0em 1em 0.2em 1.5em;
			font-size: 0.75em;
			text-shadow: 0 0 2px black;
			::before {
				content: '#';
				opacity: 0.5;
			}
		}
	}
}