#flowchart {
	--active-connection: #0d96e0;
	--inactive-connection: #444;

	.flowchart-container {
		isolation: isolate;
		padding-top: 4em;
		padding-bottom: max(60px, 10vh);
		padding-inline: calc(var(--page-padding) / 2);
		align-items: start;
		overflow: auto;
		flex-direction: column;
	}
	.flowchart {
		overflow: visible;
		direction: ltr;
	}
	.fc-scene {
		&.active {
			position: relative;
			.fc-scene-content {
				scale: 1.1;
			}
			use {
				filter: grayscale(100%) sepia(100%) hue-rotate(-30deg)
						saturate(300%) drop-shadow(0px 0px 1px #ff9f00);
			}
		}
		&.disabled {
			filter: brightness(0.5) grayscale(1);
			pointer-events: none;
		}
		.fc-scene-content {
			width: 100%;
			height: 100%;

			&:hover, &:focus-visible, &:focus {
				outline: none;
			}
		}
		&.blur {
			.fc-scene-content {
				filter: blur(3px);

				&:hover, &:focus-visible {
					filter: blur(0);
				}
			}
		}
		&.unlocked {
			.fc-scene-content {
				transition: scale 0.2s ease-in-out, filter 0.2s ease-in-out;
				cursor: pointer;

				&:hover, &:focus-visible, &:focus {
					scale: 1.1;
				}
			}
		}

		img {
			opacity: 0;
			transition: opacity .2s;

			&.loaded {
				opacity: 1;
			}
		}
	}
	.fc-link {
		fill: none;
		fill-opacity: 0.246809;
		fill-rule: evenodd;
		stroke: var(--active-connection);
		stroke-width: 0.6px;
		stroke-linejoin: round;
		stroke-opacity: 1;
		paint-order: fill markers stroke;
		stop-color: #000000;

		&.disabled {
			stroke: var(--inactive-connection);
		}
	}
}

#fc-scene-outline,
#fc-scene-hidden rect:last-of-type {
	stroke-width: 0.6;
	stroke-linejoin: round;
	fill: none;
}

#fc-scene-hidden rect:last-of-type {
	stroke: rgb(115 115 115);
}

#fc-scene-outline {
	stroke: var(--active-connection);
}

#fc-scene-background {
	fill: rgb(67 67 67);
}

.scene-popover-container {
	width: min(300px, 100%);
	z-index: 100;
	pointer-events: none;
}
.scene-popover {
	width: 100%;
	border-radius: 4px;
	background-color: #000;
	box-shadow: 0 1px 4px #000;
	overflow: hidden;

	.scene-popover-content {
		position: relative;
		width: 100%;
		height: 200px;
		.header {
			height: 100%;
			width: 100%;
			background-color: #000;
		}
		.content {
			position: absolute;
			z-index: 1;
			bottom: 0;
			left: 0;
			padding: 0.2em 1em;
			font-size: 1.1em;
			background-image: linear-gradient(90deg, #0839c3 70%, transparent);
			min-width: 80px;
		}
	}
}