#flowchart {
	mask-image: linear-gradient(90deg, transparent 0%, black calc(var(--page-padding) / 2));

	.flowchart-container {
		padding-inline: calc(var(--page-padding) / 2);
	}
}

.flowchart-container {
	isolation: isolate;
	padding-top: 4em;
	padding-bottom: max(60px, 10vh);
	align-items: start;
	overflow: auto;
	--active-connection: #0d96e0;
	--inactive-connection: #444;

	.flowchart {
		flex: none;
		direction: ltr;
		transform: translateZ(0);
		vector-effect: non-scaling-stroke;

		@media (pointer: coarse) {
			shape-rendering: optimizeSpeed;
		}
	}
	
	.fc-scene {
		stroke: var(--inactive-connection);
		stroke-width: .8;
		stroke-linejoin: round;
		fill: none;

		& > rect {
			fill: transparent;
			outline: none;
		}

		&.disabled {
			pointer-events: none;

			& > image {
				filter: brightness(0.5) grayscale(1);
			}

			&.blur > image {
				filter: brightness(0.5) grayscale(1) blur(3px);
			}
		}
		&.unlocked:not(.disabled) {
			stroke: var(--active-connection);
			outline: none;
			cursor: pointer;

			&.blur > image {
				filter: blur(3px);
			}

			& > rect {
				transition: filter .1s linear;
				&:hover, &:focus-visible, &:focus {
					filter:
						drop-shadow(0 0 1px var(--active-connection))
						drop-shadow(0 0 1px var(--active-connection))
						drop-shadow(0 0 1px var(--active-connection))
						drop-shadow(0 0 2px var(--active-connection));
				}
			}
		}
	}

	.fc-link {
		fill: none;
		fill-opacity: 0.246809;
		fill-rule: evenodd;
		stroke-width: .8px;
		stroke-linejoin: round;
		stroke-opacity: 1;
		paint-order: fill markers stroke;
		stop-color: #000000;
		
		&.enabled {
			stroke: var(--active-connection);
			filter: drop-shadow(0 0 1px blue);
		}
		&.disabled {
			stroke: var(--inactive-connection);
			stroke-width: .6;
		}
	}

	#fc-scene-hidden rect:last-of-type {
		fill: none;
		stroke-width: .6;
		stroke-linejoin: round;
		stroke: rgb(115 115 115);
	}
}
.badge {
	stroke: white;
	stroke-width: .6;
	stroke-linecap: round;
	stroke-linejoin: round;
	font-family: var(--ui-font);
	font-size: 4px;
}

.popover-container {
	z-index: 100;
	width: min(320px, 100%);
	pointer-events: none;

	.scene-popover {
		width: 100%;
		border-radius: 4px;
		background-color: #000;
		box-shadow: 0 1px 4px #000;

		.scene-popover-content {
			position: relative;
			width: 100%;
			height: 240px;
			border-radius: inherit;

			.background {
				height: 100%;
				width: 100%;
				background-color: #000;
				border-radius: inherit;
				overflow: hidden;
			}
			.title {
				position: absolute;
				z-index: 1;
				bottom: 0;
				left: 0;
				padding: .3rem 1rem;
				padding-bottom: .8rem;
				background-image: linear-gradient(90deg, var(--surface-dark) 70%, transparent);
				min-width: 80px;
				-webkit-text-stroke: 0.01rem black;
				border-bottom-left-radius: inherit;
			}
			.id {
				font-weight: bold;
				position: absolute;
				z-index: 1;
				top: .4rem;
				right: .6rem;
				font-size: .75rem;
				text-shadow: 0 0 2px black;
				::before {
					content: '#';
					opacity: .5;
				}
			}
			.blur {
				filter: blur(22px);
			}
			.badges {
				z-index: 2;
				position: absolute;
				width: 100%;
				height: 2.5rem;
				left: 0;
				bottom: 0;
				transform: translate(0, 50%);
				
				-webkit-filter: drop-shadow( 0 3px 3px rgb(0, 0, 0));
  				filter: drop-shadow( 0 3px 3px rgb(0, 0, 0));
			}
			.choices-container {
				border-radius: inherit;
				.choice {
					margin: .3em;
					padding: .1em .3em;
					border-radius: inherit;
					border: 1px solid var(--surface-light);
					background: #000A;
					-webkit-text-stroke: 0.01rem black;
					text-shadow: 0 0 2px black;
				}
			}
		}
	}
}