
//Ubuntu
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu-Regular'), url('../assets/fonts/Ubuntu-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu-Bold'), url('../assets/fonts/Ubuntu-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu-Italic'), url('../assets/fonts/Ubuntu-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu-BoldItalic'), url('../assets/fonts/Ubuntu-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

//OpenDyslexic
@font-face {
    font-family: 'OpenDyslexic';
    src: local('OpenDyslexic-Regular'), url('../assets/fonts/OpenDyslexic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: local('OpenDyslexic-Bold'), url('../assets/fonts/OpenDyslexic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: local('OpenDyslexic-Italic'), url('../assets/fonts/OpenDyslexic-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: local('OpenDyslexic-Bold-Italic'), url('../assets/fonts/OpenDyslexic-Bold-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}