@use 'partials/_components';

#gallery, #endings, #characters {
	font-size: 1.1rem;
	height: 100%;
	overflow-y: auto;
	scrollbar-gutter: stable;

	.tabs {
		padding-inline: var(--page-padding);
		margin-top: var(--page-padding);
	}
	@media screen and (orientation: landscape) and (max-height: 680px) {
		main {
			grid-template-columns: 1fr;
			grid-template-areas:
					"tabs"
					"content";

			& > .tabs {
				flex-direction: row;
			}
		}
	}

	section {
		position: relative;
		flex-grow: 1;
		padding-top: 0.4em;
	}

	.gallery-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(min(176px, 100%), 1fr));
		gap: 6px;
		padding-bottom: 40px;
		padding-inline: var(--page-padding);

		@media (max-width: 980px) or (max-height: 480px) {
			grid-template-columns: repeat(auto-fill, minmax(min(134px, 32vmin), 1fr));
		}

		button {
			overflow: hidden;
			position: relative;

			&:hover, &:focus-visible {
				img {
					transform: scale(1.06);
				}
			}
			&:focus-visible {
				outline: 4px solid var(--color-link);
			}
		}
		
		.thumb, .placeholder {
			display: block;
			aspect-ratio: 4/3;
			width: 100%;
		}
		.thumb {
			transition: .2s ease-out;
			background-color: #0e98cb59;
			object-fit: cover;
			object-position: top;

			&.is-alternative {
				opacity: 0.5;
			}
		}
		.placeholder {
			border: 1px solid #004f87;
			background-color: rgb(0 0 0 / 40%);
			position: relative;
		}

		.alternative {
			position: absolute;
			top: 0px;
			right: 0px;
			padding: 1px 8px 0 16px;
			font-size: 0.9em;
			background-image: linear-gradient(270deg, #0839c3 70%, transparent);
		}

		.blur {
			filter: blur(22px);
			transition: .2s ease-out;
			transition-delay: 0s;

			&:hover, &:focus-visible {
				filter: blur(0);
				transition-delay: .6s;
			}
		}
	}
}

.yarl {
	&__root {
		.header {
			position: absolute;
			top: 3em;
			right: 0;
			z-index: 1;
			padding: .4em 1em .4em 2em;
			font-size: 1.2em;
			background-image: linear-gradient(270deg, #002673 40%, transparent);
		}
	}
	&__thumbnails_thumbnail_active {
		--yarl__thumbnails_thumbnail_active_border_color: #00c8ff;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			box-shadow: var(--selected-shadow);
		}
	}
}