@use 'partials/_components';

#gallery {
    .gallery-transition {
        position: relative;
        overflow: hidden;
    }

    .gallery-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(160px, 100%), 1fr));
        gap: 8px;

        @media (max-width: 480px) or (max-height: 480px) {
            grid-template-columns: repeat(auto-fill, minmax(min(100px, 100%), 1fr));
        }

        a {
            overflow: hidden;

            &:hover, &:focus-visible {
                img {
                    transform: scale(1.1);
                }
            }
        }
        img, .placeholder {
            display: block;
            aspect-ratio: 4/3;
            width: 100%;
        }
        img {
            transition: .2s ease-out;
            background-color: #0e98cb59;
        }
        .placeholder {
            border: 1px solid #004f87;
            background-color: rgb(0 0 0 / 40%);
        }
        .blur img {
            filter: blur(30px);
            transition: .2s ease-out;
            transition-delay: 0s;

            &:hover, &:focus-visible {
                filter: blur(0);
                transition-delay: .6s;
            }
        }
    }
}
