@use '../../tsukiweb-common/src/styles/partials/transitions' as *;
@use 'game/layer-text';
@use 'game/layer-menu';
@use 'game/layer-save-config';
@use 'game/layer-history';
@use 'game/layer-skip';
@use 'game/layer-choices';

:root {
	--text-color: #e7e7e7;
	--text-muted: #bdbdbd;
	--transition-time: 0.2s;
	--transition: all var(--transition-time) ease-out;
	--text-bg: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%,
											 rgba(0, 0, 0, 0.4) 10%,
											 rgba(0, 0, 0, 0.4) 90%,
											 rgba(0, 0, 0, 0.1) 100%);
	--menu-button-bg: rgb(14 79 187);
}

.window {
	color: var(--text-color);
	display: flex;
	font-size: 1.1em;
	font-family: var(--game-font), sans-serif;
	background-color: #000;

	.ratio-container {
		aspect-ratio: var(--ratio, initial);
		width: var(--max-size, initial);
		height: 100%;
		margin: 0 auto;
		position: relative;
		min-width: 0;
		container-type: inline-size;

		&::before {
			content: "";
			position: fixed;
			inset: 0;
		}

		@media screen and (orientation: portrait) and (min-width: 680px) {
			width: 100%;
			height: var(--max-size, initial);
			margin: auto;
		}
	}
	
	.dash {
		text-decoration: line-through;
	}

	.layer {
		width: 100%;
		height: 100%;
		position: absolute;
		inset: 0;
	}
	#layer-graphics {
		z-index: 0;
		overflow: hidden;
	}
	#layer-text {
		@extend %layer-text;
	}
	#layer-choices {
		@extend %layer-choices;
	}
	#layer-menu {
		@extend %layer-menu;
	}
	#layer-save, #layer-config {
		@extend %layer-save-config;
	}
	#layer-history {
		@extend %layer-history;
	}
	#skip-layer {
		@extend %layer-skip;
	}

	.menu-button {
		display: none;
	}
	// mobile screens
	@media not all and (hover: hover) and (pointer: fine) {
		.menu-button {
			display: flex;
			position: absolute;
			bottom: min(3em, 10vh);
			right: 0;
			z-index: 3;
			background-color: var(--menu-button-bg);
			padding: 16px 4px;
			border-radius: 8px 0 0 8px;
			opacity: .5;
			transition: var(--transition);

			&:hover {
				opacity: 1;
			}
		}
	}
}
