@use 'partials/transitions' as *;
@use 'partials/components';
@use 'game/layer-text';
@use 'game/layer-menu';
@use 'game/layer-save-config';
@use 'game/layer-history';
@use 'game/layer-skip';

:root {
	--text-color: #e7e7e7;
	--transition-time: 0.2s;
	--transition: all var(--transition-time) ease-out;
}

.window {
	color: var(--text-color);
	display: flex;
	font-size: 1.1em;
	font-family: var(--game-font), sans-serif;

	.ratio-container {
		width: var(--width, initial);
		height: 100%;
		aspect-ratio: var(--ratio, initial);
		margin: 0 auto;
		position: relative;
		min-width: 0;
		box-shadow: 0 4px 3em rgb(0 0 0 / 60%);
	}
	
	.dash {
		text-decoration: line-through;
	}

	.layer {
		width: 100%;
		height: 100%;
		position: absolute;
		inset: 0;
	}
	#layer-graphics {
		z-index: 0;
	}
	#layer-text {
		@extend %layer-text;

		&.adv {
			max-height: 300px;
			margin: .5em;
			margin-top: auto;
			padding-top: 1em;
			padding-bottom: 0.5em;
			font-size: clamp(1em, 4.7vmin, 1.5em);
			background: unset;
			border: 4px solid var(--active-hover);
			background-color: rgb(0 34 60 / 75%);
			width: calc(100% - 1em);
			max-width: 1140px;
			padding-inline: 5%;
			justify-self: center;

			.text-container {
				max-width: unset;
			}
		}
	}
	#layer-choices {
		z-index: 3;
		background-color: #0006;

		.choices-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
			max-width: 620px;
			margin-inline: auto;
			gap: 1.2em;
		}
		.choice {
			@extend %info-box;
			padding: .5em 1em;
			font-size: clamp(.98em, 4.2vmin, 1.32em);
			transition: all 0.2s ease-in-out;
			margin-inline: 8px;

			&:hover, &:focus-visible {
				box-shadow: var(--selected-shadow);
			}
		}
	}

	#layer-menu {
		@extend %layer-menu;
	}
	#layer-save, #layer-config {
		@extend %layer-save-config;
	}
	#layer-history {
		@extend %layer-history;
	}
	#skip-layer {
		@extend %layer-skip;
	}

	.menu-button {
		all: unset;
		display: none;
	}
	// mobile screens
	@media not all and (hover: hover) and (pointer: fine) {
		.menu-button {
			display: flex;
			position: absolute;
			bottom: min(3em, 10vh);
			right: 0;
			z-index: 3;
			background-color: rgb(14 79 187);
			padding: 16px 4px;
			border-radius: 8px 0 0 8px;
			opacity: .5;
			transition: var(--transition);

			&:hover {
				opacity: 1;
			}
		}
	}
}
