#plus-disc {
	main {
		overflow-y: auto;
		scrollbar-gutter: stable both-edges;
		padding: 1em;
		padding-bottom: 60px;
	}
	.header {
		margin-top: 2em;
		display: flex;
		font-size: 1.2em;

		.cover {
			aspect-ratio: 1;
			width: min(100%, 200px);
			display: block;
			object-fit: contain;
		}
		.desc {
			padding: 1em;
		}

		@media screen and (max-width: 440px) {
			flex-direction: column;
			padding: 1em;
			align-items: center;

			.cover {
				width: min(100%, 100px);;
			}
			.desc {
				padding: 0;
			}
		}
	}

	.scenes-list {
		margin-top: 1em;
		display: grid;
		gap: 8px;

		.scene {
			display: grid;
			grid-template-columns: 180px 1fr;
			background-color: var(--menu-container);
			position: relative;

			.scene-image {
				width: 100%;
				aspect-ratio: 4 / 3;
			}
			.scene-title {
				font-size: 1.2em;
				padding: 1em;
			}

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				transition: .2s;
			}
			&:hover, &:focus-visible {
				&:after {
					box-shadow: var(--selected-shadow);
				}
			}

			@media screen and (max-width: 440px) {
				grid-template-columns: 1fr;

				.scene-image {
					aspect-ratio: unset;
					height: 140px;
				}
			}
		}
	}
}