@use '../../tsukiweb-common/src/ui-core/styles/mixins' as *;

#plus-disc {
	overflow-y: auto;
	scrollbar-gutter: stable;
	padding: var(--page-padding);
	padding-bottom: 60px;
	.tabs {
		margin-top: 2em;
		flex-direction: row;
		padding-inline: 0;
	}

	.header {
		margin-top: 1.4em;
		display: flex;

		.cover {
			aspect-ratio: 1;
			width: min(100%, 240px);
			display: block;
			object-fit: contain;
		}
		.desc {
			padding: 1em;
		}

		@media screen and (max-width: 440px) {
			flex-direction: column;
			padding: 1em;
			align-items: center;
			row-gap: 1em;

			.cover {
				width: min(100%, 160px);
			}
			.desc {
				padding: 0;
			}
		}
	}

	.scenes-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(204px, 100%), 1fr) minmax(min(204px, 100%), 1fr));
		isolation: isolate;
		gap: 10px;

		@media screen and (max-width: 440px) {
			grid-template-columns: repeat(auto-fit, minmax(min(100%, 240px), 1fr));
		}
	}
	.gallery-container {
		padding-inline: 0;
	}
}