@use '../../tsukiweb-common/src/ui-core/styles/mixins' as *;

#plus-disc {
	font-size: 1.1em;
	overflow-y: auto;
	scrollbar-gutter: stable;

	.tabs {
		margin-top: 2em;
		flex-direction: row;
	}
	main {
		padding: 1em;
		padding-bottom: 60px;
	}
	.header {
		margin-top: 2em;
		display: flex;

		.cover {
			aspect-ratio: 1;
			width: min(100%, 200px);
			display: block;
			object-fit: contain;
		}
		.desc {
			padding: 1em;
		}

		@media screen and (max-width: 440px) {
			flex-direction: column;
			padding: 1em;
			align-items: center;
			row-gap: 1em;

			.cover {
				width: min(100%, 160px);
			}
			.desc {
				padding: 0;
			}
		}
	}

	.scenes-list {
		display: grid;
		padding-bottom: 40px;
		gap: .1px;

		.scene {
			@include active-shadow;
			display: grid;
			grid-template-columns: 160px 1fr;
			padding: 4px;
			outline: none;
			
			&:not(:last-child) {
				border-bottom: 1px solid var(--separator);
			}

			.scene-image {
				width: 100%;
				aspect-ratio: 4 / 3;
			}
			.scene-title {
				font-size: 1.2em;
				padding: 1em;

				.viewed-indicator {
					font-size: 0.8em;
					color: var(--text-muted);
				}
			}

			@media screen and (max-width: 440px) {
				grid-template-columns: 1fr;

				.scene-image {
					aspect-ratio: unset;
					height: 140px;
				}
			}
		}
	}
}