@use 'partials/_components';

#saves, #layer-save {
	.back-button {
		margin: 1em;
	}
	.page-content {
		@media screen and (orientation: landscape) and (max-height: 680px),
			(max-width: 760px) and (orientation: portrait) {
			--page-padding: 0;
			.page-title {
				padding-inline: clamp(.8rem, 1.6vmin, 1.2rem);
				padding-top: clamp(.8rem, 1.6vmin, 1.2rem);
			}
		}
	}
}

#saves-layout {
	font-size: 1rem;
	display: grid;
	grid-template-areas:
		"title title"
		"list info"
		"buttons buttons";
	grid-template-columns: 3fr minmax(234px, 1fr);
	grid-template-rows: min-content 1fr min-content;

	.page-title {
		grid-area: title;
	}
	.saves {
		grid-area: list;
		overflow-x: hidden;
		letter-spacing: 1px;
		padding-bottom: 80px;

		.virtual-list {
			position: relative;
			width: 100%;
		}
		.create, .import {
			margin-bottom: 8px;
			gap: 8px;
			width: 100%;
			padding: 12px 0;
		}
		.save-container {
			position: absolute;
			width: 100%;
			display: flex;
			flex-direction: row;
			transition: all .2s ease-out;
			height: 109px;
			border-bottom: 1px solid transparent;
			font-size: 1.1em;

			&:not(:last-of-type) {
				border-color: var(--separator);
			}

			.deta {
				padding: 1em;
				min-width: 0;
				width: 100%;
				overflow: hidden;

				.date {
					display: inline-flex;
					column-gap: .6em;
					flex-flow: wrap;
					color: #bdbdbd;
					white-space: nowrap;
				}
				.chip-choice {
					font-size: 0.8em;
					letter-spacing: .5px;
					margin-left: 0.8em;
					background-color: #2c00da;
					padding: 2px 4px;
					border-radius: 3px;
				}

				.line {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					max-width: 70ch;
				}
			}

			.graphics {
				align-self: center;
				height: calc(100% - 8px);
				width: auto;
				font-size: 0.3em;
			}

			&::after {
				content: "";
				position: absolute;
				inset: 0 -4px;
				transition: .2s;
			}

			&.active::after {
				box-shadow: var(--selected-shadow);
			}

			&[quick-save]::before {
				position: absolute;
				bottom: 4px;
				right: 0;
				content: "Quick Save";
				font-size: 0.8em;
				font-style: italic;
				color: #dddddd;
				padding: 0.1em 0.5em 0.1em 4em;
				background-image: linear-gradient(45deg, transparent 20%, #3300ff);
			}
		}
	}

	.info {
		grid-area: info;
		padding: 0;
		scrollbar-gutter: unset;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		font-size: 1.2em;
		overflow-y: auto;

		&.preview-save {
			border-left: 2px solid var(--separator);
		}

		.graphics-wrapper {
			.graphics {
				font-size: 0.6em;
			}
		}

		.deta {
			display: flex;
			flex-direction: column;
			padding: 1em 1.2em;
			justify-content: flex-end;
		}

		.affection {
			margin-top: 1em;

			.affection-table {
				width: 100%;
				border-collapse: collapse;
				tr:not(:last-child) {
					border-bottom: 1px solid var(--separator);
				}
				td {
					padding: 0.4em 0.5em;
					vertical-align: top;

					&.name {
						padding-left: 1.2em;
						width: 110px;
					}
					&.hearts {
						padding-top: 0.6em;
						padding-right: .6em;
						display: flex;
						align-items: center;
						column-gap: 0.4em;
						row-gap: 0.2em;
						flex-wrap: wrap;
					}
				}
				.heart-icon {
					color: red;
				}
			}
		}

		.actions {
			margin-top: auto;
			padding: 1em;
			align-self: flex-end;
			display: flex;
			gap: 4px;

			button {
				padding: 4px 16px;
				opacity: 0.8;
				display: flex;
				align-items: center;
				font-size: 1.3em;

				&:hover {
					box-shadow: var(--selected-shadow);
					opacity: 1;
				}
			}
		}

		// phone landscape
		@media screen and (max-height: 500px) and (orientation: landscape) {
			&.preview-save {
				border-left: none;
				border-block: 2px solid var(--separator);
			}
			.graphics-wrapper {
				display: none;
			}
			.affection {
				margin-top: 0;
			}
		}
		// phone portrait
		@media screen and (max-width: 760px) and (orientation: portrait) {
			&.preview-save {
				border-left: none;
				border-top: 2px solid var(--separator);
			}
			.graphics-wrapper {
				display: none;
			}
			.affection {
				margin-top: 0;
			}
		}
	}

	.save-buttons {
		grid-area: buttons;
	}

	.graphics {
		aspect-ratio: 4/3;

		div.bg img.blur {
			filter: blur(20px);
		}
	}

	@media screen and (max-width: 760px) and (orientation: portrait) {
		grid-template-areas:
			"title"
			"info"
			"list"
			"buttons";
		grid-template-columns: 1fr;
		grid-template-rows: min-content minmax(160px, 1fr) 3fr min-content;
	}

	@media screen and (max-height: 500px) and (orientation: landscape) {
		grid-template-columns: 2fr 5fr;
		grid-template-areas:
			"title list"
			"info list"
			"buttons list";
	}
}