@use '../../tsukiweb-common/src/ui-core/styles/_partials' as *;

#title-menu {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	row-gap: 2em;
	padding: 1em;

	.logo {
		display: flex;
		margin: 1em;
		justify-content: center;
		flex: 8;
		min-height: 0;
		position: relative;
		isolation: isolate;

		img {
			object-fit: contain;
			z-index: 1;
		}

		.moon {
			position: absolute;
			top: 50%;
			width: min(600px, 70vmin);
			height: min(600px, 70vmin);
			filter: drop-shadow(0 0 12px white);
			transition-timing-function: cubic-bezier(0.25, 0.1, 0.16, 1.0);
		}
		.tsuki-logo {
			height: 100%;
			width: min(70vmin, 400px);
		}
	}

	$spacing: 14px;
	$icon-size: 36px;
	.top-actions {
		position: absolute;
		top: $spacing;
		right: $spacing;
		display: flex;
		flex-direction: row;
		gap: calc($icon-size / 4);

		.action-icon {
			appearance: none;
			display: flex;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;

			font-size: 1.4em;
			padding: 4pt;
			width: $icon-size;
			height: $icon-size;
			border-radius: 6px;
			background-color: #005675;

			&:hover, &:focus-visible {
				box-shadow: var(--selected-shadow);
			}
		}
	}

	.menu {
		flex: 1;
		margin-bottom: 6vh;
		width: min(860px, 100%);
		font-size: 1.4em;

		.menu-buttons {
			display: flex;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 3px;
			flex-direction: row;
			row-gap: 8px;
			column-gap: 2.2em;
			justify-content: center;
			align-items: flex-start;
		}
	}

	// One column
	@media (max-width: 810px) and (min-height: 460px), (orientation: portrait) {
		.top-actions {
			right: $spacing;
			flex-direction: column-reverse;
		}
	}
	// One column, mobile portrait
	@media (max-width: 810px), ((orientation: landscape) and (max-height: 460px)) {
		display: grid;
		grid-template-rows: 3fr 2fr;
		.logo {
			height: 100%;

			.moon {
				max-width: 100%;
				max-height: 100%;
			}
		}
		.menu {
			.menu-buttons {
				flex-direction: column;
				align-items: center;
				margin-right: 1em;
				row-gap: 12px;
			}
		}
	}
	// Two columns, mobile landscape
	@media (max-height: 460px) and (orientation: landscape) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		.logo {
			max-height: 85%;
		}
		.menu {
			margin-bottom: 0;
			height: 100%;
			align-content: center;
		}
	}
}

.app-info-modale {
	background-image: linear-gradient(45deg, #011853 60%, #033343);

	.title-modal {
		display: grid;
		grid-template-columns: 1fr 200px;
		align-content: start;
		gap: 4em;
		flex-grow: 1;

		.card {
			width: 100%;
		}

		.infos {
			.header {
				display: flex;
				flex-wrap: wrap;
				gap: 8px;
				margin-bottom: 1em;

				.version {
					display: flex;
					gap: 16px;
					align-items: center;
				}
			}

			.content {
				display: flex;
				flex-direction: column;
				gap: 8px;
				margin-inline: 8px;
				text-wrap: pretty;

				.more {
					margin-top: 1em;
				}
			}
		}

		.sidebar {
			display: flex;
			flex-wrap: wrap;
			gap: .5em;
			justify-content: center;
			align-content: start;
			font-size: .9em;

			.actions {
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(min(100%, 110px), 1fr));
			}
		}
		.tsuki-cover {
			display: block;
			width: 100%;
			min-width: 0;
			max-width: 200px;
			object-fit: contain;
		}
	}

	@media screen and (max-width: 580px) {
		.title-modal {
			grid-template-columns: 1fr;
			gap: 1em;
		}
	}
}

.translation-switch-modale {
	.content {
		flex: 1;
	}
	.languages {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(min(120px, 100%), 1fr));
		gap: 4px;
		max-height: 260px;
		overflow-y: auto;
		scrollbar-gutter: stable both-edges;
		background-color: var(--menu-container);
		padding: 8px 4px;
		border-radius: 2px;
	}
	.language {
		padding: .8em;
	}

	.translation-details {
		margin-top: 1em;
		line-height: 1.6;
		min-height: 180px;
		padding: 8px;

		.title {
			font-weight: 600;
			font-size: 1.2em;
		}

		.line {
			a {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				display: block;
				max-width: min-content;
			}
		}
	}
}


/** Disclaimer **/
#disclaimer {
	&.page {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #000206;
	}
	.box {
		max-width: 680px;
		text-align: center;
		border: 1px solid #00628b;
		padding: 2em;
		margin: 1em;

		p {
			font-size: clamp(.92em, 3.6vmin, 1.3em);
			line-height: clamp(1.52em, 4.6vmin, 1.7em);
			text-shadow: #000 1px 1px 1px, #000 -1px 1px 1px, #000 -1px -1px 1px, #000 1px -1px 1px;
			letter-spacing: 1px;
		}
	}
}