%layer-save-config {
	z-index: -1;
	opacity: 0;
	transition: var(--transition);
	display: flex;
	
	&.show {
		z-index: 100;
		opacity: 1;
		background-image: var(--gradient-layer);
		backdrop-filter: brightness(0.6) blur(2px);
	}
}