%layer-menu {
	--menu-bg: linear-gradient(226deg, rgb(7 5 75), rgb(0 150 176 / 100%));
	--menu-backdrop: rgba(0, 36, 87, 0.6);
	--menu-border-color: #002373;
	--surface-on-menu: rgb(1 17 27 / 80%);
	--panel-trans-time: 0.4s;

	z-index: -1;
	background-color: var(--menu-backdrop);
	-webkit-backdrop-filter: blur(1px);
	backdrop-filter: blur(1px);
	opacity: 0;
	touch-action: manipulation;
	display: flex;
	justify-content: flex-end;
	transition: var(--transition);
	transition-property: opacity, z-index;
	// when hiding, wait before starting the transition
	transition-delay: calc(var(--panel-trans-time) - var(--transition-time));
	overflow: hidden;
	border-block: 12px solid var(--menu-border-color);
	direction: ltr;

	&.show {
		z-index: 4;
		opacity: 1;
		transition-delay: 0s;

		.menu-container {
			transform: translateX(0);
		}
	}

	$width: clamp(260px, 46vw, 340px);
	.menu-container {
		will-change: transform;
		transform: translateX(calc($width));
		width: $width;
		height: 100%;
		transition: transform var(--panel-trans-time) ease-out;
		display: flex;
		align-items: center;
		background-image: var(--menu-bg);
		mask-image: linear-gradient(to right, transparent, black 4em), linear-gradient(to right, transparent, black 2em);

		menu {
			height: 100%;
			flex: 1;
			display: grid;
			grid-template-rows: 1fr 2fr 1fr;
			padding: 1.2em;
			margin-left: 2.5em;
			overflow-y: auto;
		}

		.layer-btns, .action-btns {
			max-width: 220px;

			button {
				font-size: clamp(1.1em, 3.6vh, 1.5em);
			}
		}
		.layer-btns {
			display: flex;
			row-gap: min(2vh, 1em);
			flex-direction: column;
		}

		.action-btns {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 5px;
			align-self: end;
			margin-top: 1em;

			.fullwidth {
				grid-column: 1 / -1;
			}
			.copy-scene, .quick {
				font-size: 1rem;
			}

			button {
				border-radius: 2px;
				padding: 5px 4px;
				color: rgb(206 223 234);
				background-color: var(--surface-on-menu);
				justify-content: center;
				letter-spacing: 1px;

				&.on {
					background: linear-gradient(90deg, #00d2ff 40%, oklch(1.8 0.15 220.72 / 1) 60%, #00d2ff);
					background-size: 300% 100%;
					animation: gradientAnimation 4s linear infinite;
					@keyframes gradientAnimation {
						0% { background-position: -100% 50%; }
						100% { background-position: 200% 50%; }
					}
				}

				&:hover, &:focus-visible {
					color: var(--text-color);
					box-shadow: var(--selected-shadow);
				}
				&:disabled {
					opacity: 0.5;
					pointer-events: none;
				}
			}
		}
	}

	.top-ornament, .bottom-ornament {
		position: absolute;
		pointer-events: none;
		opacity: 0.5;
		width: clamp(220px, 60vmin, 350px);
		-webkit-mask-image: linear-gradient(to right, transparent, black 8em);
		mask-image: linear-gradient(to right, transparent, black 8em);
	}
	.top-ornament {
		top: 0;
		right: 0;
		z-index: 1;
	}
	.bottom-ornament {
		bottom: 0;
		left: 0;
		z-index: 0;
		rotate: 180deg;
	}
}
