@use 'layer-text';

%layer-history {
	z-index: -1;
	opacity: 0;
	touch-action: manipulation;
	transition: var(--transition);
	display: grid;
	grid-template-rows: 1fr min-content;

	&.show {
		z-index: 100;
		opacity: 1;
		background: rgb(0 21 50 / 75%);
		backdrop-filter: blur(4px);
	}

	.scroll-container {
		overflow-y: scroll;
		scrollbar-gutter: stable both-edges;
		width: inherit;
		display: grid;
	}

	#history {
		background: none;
		padding-bottom: 30vh;
		margin-inline: auto;
		@extend %layer-text;
		user-select: auto;
		width: inherit;
	}

	#scenes {
		padding-bottom: 30vh;
		width: inherit;
		.flowchart-container {
			isolation: isolate;
			max-width: var(--page-width);
			margin-inline: auto;
			padding-inline: 1em;
			padding-top: 4em;
		}
	}
}