@use '../partials/components';

%layer-choices {
	z-index: 3;
	background-image: var(--text-bg);
	display: flex;
	overflow-y: auto;

	.choices-container {
		flex: 1;
		display: flex;
		flex-direction: column;
		max-width: 700px;
		margin: auto;
		gap: 1em;
		padding: 8px;
	}
	.choice {
		@extend %info-box;
		padding: .4em .8em;
		font-size: clamp(1.05em, 4.2vmin, 1.5em);
		backdrop-filter: none;

		&:hover, &:focus-visible {
			box-shadow: var(--selected-shadow);
		}
	}
}