@use '../partials/components';

%layer-skip {
	z-index: -1;
	opacity: 0;
	touch-action: manipulation;
	background-image: var(--text-bg);
	display: flex;
	justify-content: center;

	&.show {
		z-index: 2;
		opacity: 1;
	}

	.skip-modal {
		@extend %info-box;
		align-self: center;
		margin: 1rem;
		width: min(540px, 100%);
		box-shadow: 0 0 10px black;
		display: grid;
		text-align: center;
		text-wrap: balance;
		isolation: isolate;
		font-size: 1.1em;

		.scene {
			display: grid;
			min-height: 90px;
			position: relative;
		}
		.scene-title {
			font-weight: bold;
			color: var(--color-link);
			font-size: 1.5em;
			line-height: 1.2;
			z-index: 1;
			display: flex;
			align-items: end;
			justify-content: center;
			padding: 0.5em;
			padding-bottom: 0;
			filter: drop-shadow(0 2px 4px black);
		}
		.thumbnail {
			height: 100%;
			max-width: 100%;
			position: absolute;
			inset: 0;
			mask-image: linear-gradient(180deg, black 0%, transparent);

			.blur {
				filter: blur(10px);
			}
			.bg img {
				object-position: 0 40%;
			}
		}

		.body {
			margin-top: .6rem;
			margin-bottom: 2em;
			padding-inline: .5em;
			user-select: none;
		}
		.title {
			color: var(--text-muted);
		}

		.buttons {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			font-size: 1.2em;
			border-top: 1px solid var(--separator);

			button {
				padding: 1rem;
			}
		}
	}
}