%layer-text {
	z-index: 2;
	opacity: 1;
	user-select: none;
	background-image: var(--text-bg);
	padding: 7cqmin;
	--sc: #000;
	--ts: clamp(0.8px, 0.15cqw, 1.1px);
	--nts: calc(-1 * var(--ts));
	text-shadow:
	  var(--ts) var(--ts) var(--ts) var(--sc),
	  var(--nts) var(--ts) var(--ts) var(--sc),
	  var(--nts) var(--nts) var(--ts) var(--sc),
	  var(--ts) var(--nts) var(--ts) var(--sc),
	  0 0 calc(var(--ts) * 2) var(--sc);
	letter-spacing: 1px;
	font-size: clamp(0.85em, min(2.8cqw, 4cqh), 1.6em);
	line-height: clamp(1.6em, 5cqw, 1.95em);
	overflow-x: hidden;
	touch-action: manipulation;
	transition: var(--transition);
	transition-property: opacity, z-index;

	&.hide {
		z-index: -1;
		opacity: 0;
	}

	&.adv {
		max-height: 300px;
		margin-top: auto;
		padding-top: .8em;
		padding-bottom: 0.5em;
		font-size: clamp(1em, 4.7vmin, 1.5em);
		background: unset;
		padding-inline: 5%;
		justify-self: center;
		background-image: linear-gradient(360deg, #010d1fd1, #005a91fa 94%, #043252);

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			background-image: linear-gradient(90deg, grey, lightgrey, lightgrey, grey);
			height: 2px;
		}

		.text-container {
			max-width: 1040px;
		}
	}

	&.hide-mouse-pointer {
		cursor: none;
	}

	.text-container {
		margin-inline: auto;
		max-width: 1000px;
	}

	@media screen and (orientation: portrait) and (max-width: 620px){
		padding: 10vmin 6%;
		background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
		font-size: min(2.3cqh, 1.6em);
		line-height: 1.8em;
	}
	@media screen and (orientation: landscape) and (max-height: 500px){
		.text-container {
			max-width: 700px;
		}
	}

	span {
		white-space: pre-wrap;
		overflow-wrap: break-word;
	}
	.dash {
		text-shadow: #000 .8px .8px .6px, #000 -.8px .8px .6px,
					 #000 -.8px -.8px .6px, #000 .8px -.8px .6px;
	}
	hr {
		border: 0;
		height: 1px;
		background-image: linear-gradient(90deg, #1b9ab900 0%, #1b9ab9 50%, #1b9ab900 100%);
		margin: 4em 0 1em;
		position: relative;
		overflow: visible;

		&[data-page-type="phase"] {
			background-image: linear-gradient(90deg,
				#1b9ab900 0%,
				#00aed9 30%,
				#fff 50%,
				#00aed9 70%,
				#1b9ab900 100%
			);
			height: 4px;
			&::after {
				content: attr(data-label);
				position: absolute;
				bottom: 100%;
				left: 50%;
				transform: translateX(-50%);
				font-size: 0.8em;
			}
		}
	}
	.load {
		display: flex;
		margin-left: auto;
		padding: 0 0.8em;
		font-size: 0.8em;
		margin-top: -1em;
		margin-bottom: 2em;
		text-shadow: none;
		gap: 8px;
		color: var(--color-link);
	}
	.choice {
		&:not(.selected) {
			color: grey;
		}
		&.selected {
			display: list-item;
			list-style-type: disclosure-closed;
		}
	}
	.cursor {
		--size: clamp(0.95em, min(2.8cqw, 4cqh), 1em);
		width: var(--size);
		height: var(--size);
		margin-left: 8px;
		margin-top: clamp(0.3em, min(1.4cqw, 2cqh), 0.5em);
		position: absolute;

		img {
			width: 100%;
			height: 100%;
			display: block;
		}
	}
	#moon {
		animation: fadeIn 1s ease-out, rotate 4s ease-in-out infinite;
		@keyframes rotate {
			0% {
				filter: opacity(0.4) drop-shadow(0 0 1px #7edbff) ;
				transform: rotate(0deg);
			}
			50% {
				filter: opacity(1) drop-shadow(0 0 2px #7edbff) brightness(1.2);
			}
			100% {
				filter: opacity(0.4) drop-shadow(0 0 1px #7edbff);
				transform: rotate(360deg);
			}
		}
	}
	#page {
		animation: fadeIn 1s ease-out, rotate3d 4s ease-in-out infinite;
		@keyframes rotate3d {
			0% {
				filter: opacity(0.9) brightness(0.8);
				transform: rotate3d(0, 1, 0, 0deg);
			}
			50% {
				filter: opacity(1) brightness(1.2);
			}
			100% {
				filter: opacity(0.9) brightness(0.8);
				transform: rotate3d(0, 1, 0, 360deg);
			}
		}
	}
	@keyframes fadeIn {
		0% { opacity: 0; }
		100% { opacity: 1; }
	}
}