@use 'layer-text';

%layer-history {
	z-index: -1;
	opacity: 0;
	touch-action: manipulation;
	transition: var(--transition);
	display: grid;
	grid-template-rows: 1fr min-content;

	&.show {
		z-index: 100;
		opacity: 1;
		background-image: var(--gradient-layer);
		backdrop-filter: brightness(0.6) blur(2px);
	}

	.scroll-container {
		overflow-y: scroll;
		scrollbar-gutter: stable both-edges;
		width: inherit;
		display: grid;
	}

	#history {
		background: none;
		padding-bottom: 30vh;
		margin-inline: auto;
		@extend %layer-text;
		user-select: auto;
		width: inherit;

		.load {
			display: flex;
			margin-left: auto;
			padding: 0 0.8em;
			font-size: 0.8em;
			margin-top: -1em;
			margin-bottom: 2em;
			text-shadow: none;
			gap: 8px;
			color: var(--color-link);
		}

		hr {
			border: 0;
			height: 1px;
			background-image: var(--history-separator);
			margin: 4em 0 1em;
			position: relative;
			overflow: visible;

			&[page-type="phase"] {
				background-image: linear-gradient(90deg,
					#1b9ab900 0%,
					#00aed9 30%,
					#fff 50%,
					#00aed9 70%,
					#1b9ab900 100%
				);
				height: 4px;
				&::after {
					content: attr(data-label);
					position: absolute;
					bottom: 100%;
					left: 50%;
					transform: translateX(-50%);
					font-size: 0.8em;
				}
			}
		}
	}

	#scenes {
		padding-bottom: 30vh;
		width: inherit;
		.flowchart-container {
			isolation: isolate;
			max-width: var(--page-width);
			margin-inline: auto;
			padding-inline: 1em;
			padding-top: 4em;
		}
	}

	footer {
		font-size: 1.1em;
	}
}