%layer-text {
	z-index: 2;
	opacity: 1;
	user-select: none;
	background-image: var(--text-bg);
	padding: 8vmin 10%;
	text-shadow: #000 1px 1px 1px, #000 -1px 1px 1px, #000 -1px -1px 1px, #000 1px -1px 1px;
	letter-spacing: 1px;
	font-size: clamp(.95em, 4.4vmin, 1.35em);
	line-height: clamp(1.6em, 4.8vmin, 1.8em);
	overflow-x: hidden;
	touch-action: manipulation;
	transition: var(--transition);
	transition-property: opacity, z-index;

	&.hide {
		z-index: -1;
		opacity: 0;
	}

	&.hide-mouse-pointer {
		cursor: none;
	}

	.text-container {
		width: min(100%, 80vw);
		max-width: 760px;
		margin-inline: auto;

		@media screen and (orientation: landscape) and (max-height: 460px){
			width: min(100%, 680px);
		}
	}

	@media screen and (orientation: portrait) and (max-width: 460px){
		padding: 12vmin 8%;
		background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
		font-size: clamp(1em, 4.4vmin, 1.35em);
		line-height: clamp(1.7em, 4.8vmin, 1.8em);
		.text-container {
			width: min(100%, 90vw);
		}
	}

	span {
		white-space: pre-wrap;
		overflow-wrap: break-word;
	}
	.dash {
		text-shadow: #000 .8px .8px .6px, #000 -.8px .8px .6px,
					 #000 -.8px -.8px .6px, #000 .8px -.8px .6px;
	}
	hr {
		border: 0;
		height: 2px;
		background-image: linear-gradient(90deg, #1b9ab900 0%, #1b9ab9 50%, #1b9ab900 100%);
		margin: 5em 0 1.4em;
		position: relative;
		overflow: visible;

		&[page-type="phase"] {
			background-image: linear-gradient(90deg,
				#1b9ab900 0%,
				#00aed9 30%,
				#fff 50%,
				#00aed9 70%,
				#1b9ab900 100%
			);
			height: 4px;
			&::after {
				content: attr(data-label);
				position: absolute;
				bottom: 100%;
				left: 50%;
				transform: translateX(-50%);
				font-size: 0.8em;
			}
		}
	}
	.load {
    display: flex;
    margin-bottom: 0.4em;
    padding: 0 0.8em;
    font-size: 0.8em;
    text-shadow: none;
    gap: 8px;
    color: var(--active-hover);
	}
	.choice {
		&:not(.selected) {
			color: grey;
		}
		&.selected {
			display: list-item;
			list-style-type: disclosure-closed;
		}
	}
	.cursor {
		width: 22px;
		height: 22px;
		margin-left: 8px;
		margin-top: clamp(0em, 1vmin, 0.3em);
		position: absolute;

		img {
			width: 100%;
			height: 100%;
			display: block;
		}
	}
	#moon {
		animation: fadeIn 1s ease-out, rotate 4s ease-in-out infinite;
		@keyframes rotate {
			0% {
				filter: opacity(0.4) drop-shadow(0 0 1px #7edbff) ;
				transform: rotate(0deg);
			}
			50% {
				filter: opacity(1) drop-shadow(0 0 2px #7edbff) brightness(1.2);
			}
			100% {
				filter: opacity(0.4) drop-shadow(0 0 1px #7edbff);
				transform: rotate(360deg);
			}
		}
	}
	#page {
		animation: fadeIn 1s ease-out, rotate3d 4s ease-in-out infinite;
		@keyframes rotate3d {
			0% {
				filter: opacity(0.9) brightness(0.8);
				transform: rotate3d(0, 1, 0, 0deg);
			}
			50% {
				filter: opacity(1) brightness(1.2);
			}
			100% {
				filter: opacity(0.9) brightness(0.8);
				transform: rotate3d(0, 1, 0, 360deg);
			}
		}
	}
	@keyframes fadeIn {
		0% { opacity: 0; }
		100% { opacity: 1; }
	}
}