@use '../partials/components';

%layer-skip {
	z-index: -1;
	background-color: #0006;
	display: flex;
	justify-content: center;

	&.show {
		z-index: 2;
	}

	.skip-modal {
		@extend %info-box;
		align-self: center;
		padding: 1em min(3em, 3vmin);
		margin: 1em;
		width: min(540px, 100%);
		box-shadow: 0 0 10px black;
		display: grid;
		text-align: center;
		text-wrap: balance;

		.title {
			text-align: center;
		}

		.scene {
			display: grid;
			margin-block: 1em;
			min-height: 120px;
			position: relative;
			mask-image: linear-gradient(90deg, transparent, black 2%, black 98%, transparent);
		}
		.scene-title {
			font-weight: bold;
			color: hsl(0, 0%, 100%);
			font-size: 1.4em;
			z-index: 1;
			background-image: linear-gradient(0deg, rgb(0 55 141 / 70%), rgb(0 208 255 / 40%));
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.5em;
			text-shadow: 0 0 10px #000f10, 0 0 10px #0096ff, 0 0 10px #00b8ff;
		}
		.thumbnail {
			height: 100%;
			max-width: 100%;
			position: absolute;
			inset: 0;

			.blur {
				filter: blur(10px);
			}
		}

		.buttons {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			font-size: 1.2em;
			margin-top: 1em;
		}
	}
}