%layer-menu {
	--panel-trans-time: 0.4s;
	z-index: -1;
	background-color: rgb(0 36 87 / 60%);
	-webkit-backdrop-filter: blur(1px);
	backdrop-filter: blur(1px);
	opacity: 0;
	display: flex;
	justify-content: flex-end;
	transition: var(--transition);
	transition-property: opacity, z-index;
	// when hiding, wait before starting the transition
	transition-delay: calc(var(--panel-trans-time) - var(--transition-time));
	overflow: hidden;
	border-block: 12px solid #002373;

	&.show {
		z-index: 4;
		opacity: 1;
		transition-delay: 0s;

		.menu-container {
			transform: translateX(0);
		}
	}

	$width: clamp(220px, 64vmin, 320px);
	.menu-container {
		will-change: transform;
		transform: translateX(calc($width));
		height: 100%;
		width: $width;
		transition: all var(--panel-trans-time) ease-out;
		display: flex;
		align-items: center;
		background-image: linear-gradient(226deg, rgb(7 5 75), rgb(0 150 176 / 90%));
		mask-image: linear-gradient(to right, transparent, black 2em);
		backdrop-filter: blur(1em);

		menu {
			height: 100%;
			flex: 1;
			display: grid;
			grid-template-rows: 1fr 2fr 1fr minmax(0, 0.1fr);
			font-size: clamp(1.1em, 3.6vh, 1.3em);
			padding: 1em;
			margin-left: 2em;
			overflow-y: auto;
		}

		button,
		a {
			color: var(--text-color);
			text-decoration: none;
			transition: var(--transition);
			user-select: none;
			display: flex;
			align-items: center;
			position: relative;
			padding: 2px 6px;
		}
		.top {
			grid-row: 1;
			min-height: 60px;
		}
		.layer-btns {
			grid-row: 2;
			display: flex;
			row-gap: min(3vh, 0.8em);
			flex-direction: column;
			max-width: 200px;

			.layer-btn {
				&:hover, &:focus-visible {
					color: var(--active-hover);
					text-shadow: 1px 0 5px rgb(14 79 187), 1px 0 6px rgba(28, 147, 147, 0.5);
				}
				&::after {
					content: "";
					position: absolute;
					bottom: -5px;
					left: 0;
					width: 0;
					height: 1px;
					transition: var(--transition);
					transition-delay: 0.1s;
					opacity: 0.1;
				}

				&:hover, &:focus-visible {
					&::after {
						width: 100%;
						background-image: linear-gradient(to right, rgb(12 170 217) 75%, rgba(10, 158, 171, 0));
						opacity: 1;
					}
				}
			}
		}

		.action-btns {
			grid-row: 3;
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 6px;
			margin-top: auto;
			padding-top: 1em;
			width: 100%;
			max-width: 200px;
			font-size: 1em;

			.fullsize {
				grid-column: 1 / -1;
			}
			.fullsize , .quick {
				font-size: 1rem;
			}
			.replaying {
				margin-bottom: 8px;
			}

			button {
				border-radius: 2px;
				padding: 4px;
				color: rgb(176 209 229);
				background-color: rgb(1 17 27 / 60%);
				justify-content: center;
				outline: none;

				&:hover, &:focus-visible {
					color: rgb(245 249 251);
					box-shadow: var(--selected-shadow);
				}
			}
		}
	}

	.top-ornament, .bottom-ornament {
		position: absolute;
		pointer-events: none;
		opacity: 0.5;
		width: clamp(220px, 60vmin, 350px);
		-webkit-mask-image: linear-gradient(to right, transparent, black 8em);
		mask-image: linear-gradient(to right, transparent, black 8em);
	}
	.top-ornament {
		top: 0;
		right: 0;
		z-index: 1;
	}
	.bottom-ornament {
		bottom: 0;
		left: 0;
		z-index: 0;
		rotate: 180deg;
	}
}
