.menuBtn {
	display: inline-block;
	color: var(--text-color);
	padding: 0.3em 2em;
	font-size: clamp(0.86rem, 3.5vmin, 1rem);
	background-color: var(--menu-container);
	box-shadow: var(--menu-shadow);
	transition: 0.2s;

	&:hover,
	&:focus-visible {
		box-shadow: var(--selected-shadow);
		text-decoration: none;
	}
}


.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
}

.btnVariantDefault {
	color: var(--text-color);
	padding: .2rem .6rem;
	font-size: clamp(0.86em, 3.5vmin, 1em);
	transition: 0.2s;

	&:hover,
	&:focus-visible {
		box-shadow: var(--selected-shadow);
		text-decoration: none;
	}
}

.btnVariantCorner {
	padding: .2rem .6rem;
	background-color: transparent;
	position: relative;
	transition: box-shadow .2s ease-in-out;
	border-radius: 3px;

	&::before, &::after {
		content: "";
		position: absolute;
		width: 20%;
		height: 10%;
		border: 20px solid transparent;
		transition: width .2s ease-in-out, height .2s ease-in-out;
		pointer-events: none;
	}
	&::before {
		top: 0;
		left: 0;
	}
	&::after {
		bottom: 0;
		right: 0;
	}

	&.active, &:hover, &:focus-visible {
		box-shadow: 0px 0px 90px 0px rgba(0, 180, 255, 0.2) inset;
		--border-color: rgb(0 152 225);

		&::before, &::after {
			width: 70%;
			height: 30%;
		}
		&::before {
			border-top: 1px solid var(--border-color);
			border-left: 1px solid var(--border-color);
			border-top-left-radius: 3px;
		}

		&::after {
			border-bottom: 1px solid var(--border-color);
			border-right: 1px solid var(--border-color);
			border-bottom-right-radius: 3px;
		}
	}
	&.active:focus-visible {
		--border-color: #fff;
	}
}