.footer {
    position: fixed;
    bottom: 0;
    min-height: 40px;
    width: 100%;
    background: rgb(0 35 115);
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 2px #00000059;
    z-index: 2;
}
.footerContent {
    width: var(--page-width);
    margin: 4px auto;
}