/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  z-index: 100;
  background-color: rgba(0, 3, 13, 0.3);
}
.modal {
  background-color: #060d33fa;
  flex: 1;
  max-width: 840px;
  width: 100%;
  align-self: center;
  border-radius: 8px;
  min-height: min(100%, 50vh);
  margin: 0.5rem;
  box-shadow: 0 0px 2em 2px rgb(0 68 117 / 50%);
  padding: 2em;
  border: 1px solid #00628b;
	max-height: 80vh;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
  outline: none;
  position: relative;
}