.tabs {
	grid-area: tabs;
	display: flex;
	flex-direction: row;
	padding-right: 1em;
	overflow-x: auto;
	margin-bottom: 8px;

	@media screen and (orientation: landscape) and (max-height: 480px) {
		flex-direction: column;
		margin-bottom: 0;
	}
}

.tab {
	padding: .5em min(1.6em, 6vw);
	background-color: transparent;
	transition: .2s ease-in-out;
	border-radius: 4px;
	font-size: 1rem;
	white-space: nowrap;

	&:hover, &.active:hover {
		background-color: var(--active);
		color: var(--text);
	}
	&:focus-visible {
		background-color: var(--focus);
	}

	&.active {
		color: rgb(18 215 223);
		background-color: rgb(4 45 64 / 45%);
	}
	&:focus-visible.active {
		background-color: var(--focus);
	}

	&:disabled {
		color: rgb(169 169 169);
		cursor: not-allowed;
		opacity: .5;

		&:hover {
			background-color: transparent;
		}
	}
}