@use '../../../../tsukiweb-common/src/ui-core/styles/mixins' as *;

#endings {
	padding-inline: var(--page-padding);
	
	.endings-list {
		margin-top: 1.4em;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(210px, 25%), 1fr));
		isolation: isolate;
		gap: 8px;
		flex-grow: 0;

		@mixin ending-color($color) {
			.title {
				background: linear-gradient(
					90deg,
					color-mix(in oklch, #{$color} 60%, black),
					color-mix(in oklch, #{$color} 100%, white 30%),
					color-mix(in oklch, #{$color} 60%, black)
				);
				-webkit-background-clip: text;
				background-clip: text;
				color: transparent;
			}
		}

		.unlocked {
			position: relative;
			overflow: hidden;
			border-radius: 8px;
			corner-shape: scoop;
			&.ark { @include ending-color(var(--route-ark)) }
			&.cel { @include ending-color(var(--route-cel)) }
			&.aki { @include ending-color(var(--route-aki)) }
			&.his { @include ending-color(var(--route-his)) }
			&.koha { @include ending-color(var(--route-koha)) }
			&.eclipse { @include ending-color(var(--route-eclipse)) }
		}

		.separator {
			user-select: none;
			margin: 0 2px;
			font-size: .8em;
		}
	}

	.badendings {
		padding-block: 4em 2em;

		h3 {
			all: unset;
			font-size: 1.2em;
		}
	}
	.badendings-list {
		margin-top: 1em;
		gap: 1.2em;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(48px, 1fr));
		place-content: flex-start;
		max-width: min(1180px, 100%);

		.badending {
			filter: brightness(0.5);
			opacity: .5;
			cursor: default;
			pointer-events: none;
			user-select: none;
			@include active-shadow;

			&::after {
				inset: -2px -4px;
				scale: .93;
			}

			.label {
				position: absolute;
				inset: 0;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			&:hover, &:focus-visible, .keyboard-navigating &:focus {
				&::after {
					scale: 1;
				}
			}
			&.seen {
				filter: grayscale(0);
				opacity: 1;
				cursor: pointer;
				pointer-events: auto;
			}
		}
	}

	@media (max-width: 900px), (max-width: 1200px) and (max-height: 600px) {
		.endings-list {
			grid-template-columns: repeat(auto-fill, minmax(min(140px, 34%), 1fr));
			.ending {
				font-size: 1em;
			}
		}
	}
}