:root {
  font-family: system-ui, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #1b9ab9 0%, #d6d6d6 50%, #1b9ab9 100%);
  border-radius: 2px;
}
* img {
  -webkit-user-drag: none;
  user-select: none;
}

#root {
  background-image: linear-gradient(180deg, #000916 0%, #001864 100%);
  width: 100%;
}

a {
  font-weight: 500;
  color: #00b6ff;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  all: unset;
  user-select: none;
}
button:hover {
  cursor: pointer;
}